{% extends "main/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>
        Dashboard
    </title>
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">
            {{dashboard}} Campus Residents
        </h1>
        <!-- <p class="mb-4">
            DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the
            <a target="_blank" href="https://datatables.net">
                official DataTables documentation
            </a>.
        </p> -->
        <p class="mb-4">
            Welcome! The following table contains the data you need.
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center">
                    {% if user.hall %}
                    {{user.hall}} Hall of Residence
                    {% elif user.department %}
                    Department of {{user.department}}
                    {% else %}
                    Indian Institute of Technology Kharagpur
                    {% endif %}
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                {% for item in table_header %}
                                <th>{{item}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                {% for item in table_header %}
                                <th>{{item}}</th>
                                {% endfor %}
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for row in table_body %}
                            <tr>
                                {% for item in row %}
                                <td>{{item}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}

    {% block js %}
    <!-- Page level plugins -->
    <script src="/static/main/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/main/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/main/js/demo/datatables-demo.js"></script>
    {% endblock %}
</body>

</html>